<section [class.header_change]="headerVariable">
  <div class="header container-fluid py-3">
    <div class="container">
      <mat-toolbar class="bg-transparent navigation">
        <span #logo class="logo navbar-brand">
          SLEEK GRAPHICS
        </span>
        <span class="spacer"></span>
        <span class="nav-link text-uppercase desktop-view-only">
          <a #homeLink routerLink="/home" routerLinkActive="active" class="text-white">Home</a>
        </span>
        <span class="nav-link text-uppercase desktop-view-only">
          <a #aboutLink routerLink="/about" routerLinkActive="active" class="text-white">About</a>
        </span>
        <span class="nav-link text-uppercase desktop-view-only">
          <a #portfolioLink routerLink="/portfolio" routerLinkActive="active" class="text-white">Portfolio</a>
        </span>
        <span class="nav-link text-uppercase desktop-view-only">
          <a #contactLink routerLink="/contact" routerLinkActive="active" class="text-white">Contact</a>
        </span>
        <button #mobileMenu mat-button [matMenuTriggerFor]="beforeMenu" class="mobile-view-only menu-color">
          <fa-icon [icon]="faBars" size="2x"></fa-icon>
        </button>
        <mat-menu #beforeMenu="matMenu" xPosition="before" class="mobile-device-menu">
          <span mat-menu-item class="text-uppercase" routerLink="/home" routerLinkActive="active-mobile">
            Home
          </span>
          <span mat-menu-item class="text-uppercase" routerLink="/about" routerLinkActive="active-mobile">
            About
          </span>
          <span mat-menu-item class="text-uppercase" routerLink="/portfolio" routerLinkActive="active-mobile">
            Projects
          </span>
          <span mat-menu-item class="text-uppercase" routerLink="/contact" routerLinkActive="active-mobile">
            Contact
          </span>
        </mat-menu>
      </mat-toolbar>
    </div>
  </div>
</section>
