<main class="container-fluid">
  <div class="container p-4">
    <div class="footer-content row">
      <div class="quick-links mx-auto col-sm-12 col-md-4 col-lg-4">
        <h4 class="text-uppercase font-weight-bold">Quick Links</h4>
        <ul class="list-unstyled">
          <li class="text-capitalize list-animate"><a href="">Home</a></li>
          <li class="text-capitalize list-animate"><a href="">About</a></li>
          <li class="text-capitalize list-animate"><a href="">Projects</a></li>
          <li class="text-capitalize list-animate"><a href="">Contact</a></li>
          <li class="text-capitalize list-animate"></li>
        </ul>
      </div>
      <div class="services mx-auto col-sm-12 col-md-4 col-lg-4">
        <h4 class="text-uppercase font-weight-bold">Services</h4>
        <ul class="list-unstyled">
          <li class="text-capitalize list-animate"><a href="">Visual Identity</a></li>
          <li class="text-capitalize list-animate"><a href="">Marketing Materials</a></li>
          <li class="text-capitalize list-animate"><a href="">Product Packaging & Labels</a></li>
          <li class="text-capitalize list-animate"><a href="">Presentations</a></li>
          <li class="text-capitalize list-animate"><a href="">Shirt & Apparel Designs</a></li>
          <li class="text-capitalize list-animate"><a href="">Reports Illustrations & Clip-art</a></li>
          <li class="text-capitalize list-animate"><a href="">Books, Magazines, Catalogs, Newspapers</a></li>
        </ul>
      </div>
      <div class="follow-me col-sm-12 col-md-4 col-lg-4">
        <h4 class="text-uppercase font-weight-bold">Follow Me</h4>
        <ul class="list-unstyled">
          <li class="text-capitalize ml-0 mr-5"><a href="">FB</a></li>
          <li class="text-capitalize mr-5"><a href="">TW</a></li>
          <li class="text-capitalize mr-5"><a href="">YT</a></li>
          <li class="text-capitalize "><a href="">Insta</a></li>
        </ul>
        <button (click)="letsTalk()" mat-raised-button class="font-weight-bold text-uppercase w-100 mt-5">
          Let's Talk
        </button>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="container">
      <div class="site-info justify-content-center mx-auto pb-4 pt-3">
        <span class="copyrights text-monospace">
          &copy;&nbsp;SLEEK GRAPHICS {{ currentYear }}&nbsp;Rights Reserved&nbsp;|
        </span>
        <span class="developer-details text-monospace">
          &nbsp;Developed By&nbsp;<a href="https://allankayz.netlify.app">
            <img src="../../assets/img/developer.ico" width="30px" height="30px">
          </a>
        </span>
      </div>
    </div>
  </div>
</main>
