.contact-us {
  background-color: #ccc;
}

.form-card,
.details-card {
  box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.589);
  border-radius: 5px;
  background-color: #fff;
}

.link {
  cursor: pointer;
}

.link a:hover {
  color: #eb9a04;
  text-decoration: none;
}

.form-control {
  border: 1px solid #eb9a0483;
}

.form-control:focus,
.form-control-focus {
  box-shadow: #eb9a04;
}

@media(max-width:768px) {
  .w-50 {
    width: 100% !important;
  }

  .contact-us {
    background-color: #fff;
  }

  .form-card,
  .details-card {
    box-shadow: none;
    border-radius: 0;
    background-color: #fff;
  }

  .mt-5 {
    margin-top: 0 !important;
  }

  .mb-5 {
    margin-bottom: 0 !important;
  }
}
