<main>
  <header #header class="w-100 fixed-top" [class.header_change]="headerVariable">
    <app-header></app-header>
  </header>
  <section class="w-100">
    <div class="banner-section inner-page-cover overlay">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-12">
            <div class="row justify-content-center mb-4">
              <div class="col-md-8 text-center">
                <h1 class="text-capitalize text-white">About</h1>
                <p class="lead text-capitalize text-white-50">Brief Description of Myself</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="about">
      
    </div>
    <div class="testimonials">
      <app-testimonials></app-testimonials>
    </div>
    <div class="hire-us text-center">
      <a href="" class="d-block">
        <div class="container">
          <div class="row justify-content-center py-4">
            <div class="col-md-12">
              <h1 class="text-white text-uppercase font-weight-bold">Hire Me & Lets Get Started</h1>
            </div>
          </div>
        </div>
      </a>
    </div>
  </section>
  <footer class="w-100">
    <app-footer></app-footer>
  </footer>
</main>
