.about-panel {
  box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.589);
  border-radius: 5px;
}

@media (max-width:768px) {
  .about-panel {
    box-shadow: none;
    border-radius: 0;
  }

  .mt-5 {
    margin-top: 0 !important;
  }

  .about .p-5 {
    padding: 1rem !important;
  }

  .about-panel .py-5 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}
