<main>
  <section class="manage-what-i-do">
    <h1 class="text-uppercase">Manage What I do section</h1>
  </section>
  <section class="manage-mission-values">
    <h1 class="text-uppercase">Manage Values, Mission & Philosophy</h1>
    <div class="row">
      <div class="col-sm-12 col-md-4 col-lg-4">
        <div class="values my-2">
          <h2>Values</h2>
          <small class="text-justify">{{values}}</small>
          <button class="btn-edit">edit</button>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4">
        <div class="mission my-2">
          <h2>Mission</h2>
          <small class="text-justify">{{mission}}</small>
          <button class="btn-edit">edit</button>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4">
        <div class="philosophy my-2">
          <h2>Philosophy</h2>
          <small class="text-justify">{{philosophy}}</small>
          <button class="btn-edit">edit</button>
        </div>
      </div>
    </div>
  </section>
  <section class="manage-projects"></section>
</main>
