main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-window {
  width: 40%;
  border-radius: 10px;
}

.bg-black {
  background-color: rgb(22, 22, 22);
}

.hidden {
  display: none;
  transition: 2s all ease;
}

::ng-deep .mat-input-element {
  color: #fff !important;
}

@media(max-width: 768px) {
  .login-window {
    width: 100%;
  }
}
