<main>
  <div class="container py-5">
    <div class="row justify-content-center mb-5">
      <div class="col-md-8 text-center">
        <h1 class="site-section-heading h1 p-3 text-capitalize">testimonials</h1>
      </div>
    </div>
    <div class="testimony-slide">
      <owl-carousel-o [options]="testimonials">
        <ng-template carouselSlide class="testimony p-3">
          <div class="testimonial">
            <blockquote class="my-5 pb-5">
              <p class="lead">
                “Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur unde reprehenderit aperiam
                quaerat fugiat repudiandae explicabo animi minima fuga beatae illum eligendi incidunt consequatur. Amet
                dolores excepturi earum unde iusto.”</p>
            </blockquote>
            <figure class="my-5 py-5 d-flex align-items-center justify-content-center">
              <div><img src="../../assets/img/person_1.jpg" alt="Image" class="w-50 img-fluid mb-3"></div>
              <p>Robert Spears</p>
            </figure>
          </div>
        </ng-template>
        <ng-template carouselSlide class="testimony p-3">
          <div class="testimonial">
            <blockquote class="my-5 pb-5">
              <p class="lead">
                “Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur unde reprehenderit aperiam
                quaerat fugiat repudiandae explicabo animi minima fuga beatae illum eligendi incidunt consequatur. Amet
                dolores excepturi earum unde iusto.”</p>
            </blockquote>
            <figure class="my-5 py-5 d-flex align-items-center justify-content-center">
              <div><img src="../../assets/img/person_2.jpg" alt="Image" class="w-50 img-fluid mb-3"></div>
              <p>John Rogers</p>
            </figure>
          </div>
        </ng-template>
      </owl-carousel-o>
    </div>
  </div>
</main>
