.site-section-heading {
  font-size: 4rem;
}

.testimonial {
  max-width: 800px;
  margin: 0 auto !important;
  text-align: center;
}

.testimonial blockquote {
  font-size: 1.5rem;
  font-style: italic;
  line-height: 2;
}

.testimonial figure img {
  max-width: 100px;
  margin: 0 auto;
  border-radius: 50%;
}
