<main>
  <div class="container py-5">
    <div class="row justify-content-center mb-5">
      <div class="col-md-8 text-center">
        <h1 class="site-section-heading h1 p-3 text-capitalize">testimonials</h1>
      </div>
    </div>
    <div class="testimony-slide">
      <owl-carousel-o [options]="testimonials">
        <ng-template *ngFor="let testimony of testimonies" carouselSlide class="testimony p-3">
          <div class="testimonial">
            <blockquote class="my-5 pb-5">
              <p class="lead">“{{testimony.testimonial}}”</p>
            </blockquote>
            <figure class="my-5 py-5 d-flex align-items-center justify-content-center">
              <div><img src="../../assets/img/{{testimony.authorimage}}" alt="Image" class="w-50 img-fluid mb-3"></div>
              <p class="text-capitalize">{{testimony.author}}</p>
            </figure>
          </div>
        </ng-template>
      </owl-carousel-o>
    </div>
  </div>
</main>
