.bg-black {
  background-color: black;
}

.bg-orange {
  background-color: #775008;
}

/* Blocks */
.site-blocks-cover {
  background-image: url('../../assets/img/hero_1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-position: center center;
}

.site-blocks-cover.overlay {
  position: relative;
}

.site-blocks-cover.overlay:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
}

.site-blocks-cover .player {
  position: absolute;
  bottom: -250px;
  width: 100%;
}

.site-blocks-cover,
.site-blocks-cover>.container>.row {
  min-height: 600px;
  height: calc(120vh);
}

.site-blocks-cover.inner-page-cover,
.site-blocks-cover.inner-page-cover>.container>.row {
  min-height: 400px;
  height: calc(20vh);
}

.site-blocks-cover h1 {
  font-size: 3rem;
  font-weight: 400;
  color: #fff;
}

@media (max-width: 991.98px) {
  .site-blocks-cover h1 {
    font-size: 2rem;
  }
}

.site-blocks-cover p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.2rem;
  line-height: 1.5;
}

.site-blocks-cover .intro-text {
  font-size: 16px;
  line-height: 1.5;
}

@media (max-width: 991.98px) {
  .site-blocks-cover .display-1 {
    font-size: 3rem;
  }
}

.btn-hire,
.btn-show-work {
  border-radius: 25px;
  background-color: #775008;
}

.ft-feature-1 {
  margin-bottom: 80px;
}

.ft-feature-1 .ft-feature-1-content {
  padding: 30px;
  margin-top: -130px;
  position: relative;
  z-index: 10;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.ft-feature-1 h2,
.ft-feature-1 h3 {
  font-size: 20px;
  color: #fff;
}

.ft-feature-1 h3 {
  font-size: 18px;
}

.ft-feature-1 h3 .icon {
  font-size: 30px;
}

.ft-feature-1 a {
  color: #fff;
  text-decoration: underline;
}

.ft-feature-1 a:hover {
  color: #fff;
  text-decoration: none;
}

.ft-feature-1 .play {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: #0d0cb5;
  margin-right: 1.5rem;
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
  text-decoration: none !important;
}

.ft-feature-1 .play span {
  color: #fff;
  display: inline;
}

.ft-feature-1 .img-feature {
  position: relative;
  margin-bottom: 30px;
}

@media (min-width: 992px) {
  .ft-feature-1 .img-feature {
    margin-bottom: -140px;
  }
}

.ft-feature-1 p {
  color: #737373;
}
