<main>
  <header></header>
  <section class="w-100">
    <div class="site-blocks-cover"></div>
    <div class="who-we-are">
      <div class="container">
        <div class="row">
          <div class="col-12 bg-black">
            <div class="row align-items-center p-5">
              <div class="col-lg-5">
                <div class="h-100">
                  <div class="mb-3 d-flex align-items-center text-white">
                    <h2>What We Do At Sleek Graphics</h2>
                  </div>
                  <img src="../../assets/img/about_1.jpg" alt="Image" class="img-feature img-fluid">
                </div>
              </div>
              <div class="col-lg-3 ml-auto">
                <div class="what-we-do-item">
                  <h2 class="text-white">Visual Identity</h2>
                  <p class="text-white-50">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque ab nihil quam nesciunt.
                  </p>
                </div>
                <div class="what-we-do-item">
                  <h2 class="text-white">Marketing Materials</h2>
                  <p class="text-white-50">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque ab nihil quam nesciunt.
                  </p>
                </div>
                <div class="what-we-do-item">
                  <h2 class="text-white">Product Packaging</h2>
                  <p class="text-white-50">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque ab nihil quam nesciunt.
                  </p>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="what-we-do-item">
                  <h2 class="text-white">Presentations</h2>
                  <p class="text-white-50">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque ab nihil quam nesciunt.
                  </p>
                </div>
                <div class="what-we-do-item">
                  <h2 class="text-white">Shirt & Apparel Designs</h2>
                  <p class="text-white-50">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque ab nihil quam nesciunt.
                  </p>
                </div>
                <div class="what-we-do-item">
                  <h2 class="text-white">Reports illustrations</h2>
                  <p class="text-white-50">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque ab nihil quam nesciunt.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mission-statement">
      <div class="container">
        <div class="row p-5">
          <div class="col-sm-12 col-md-4">
            <div class="values">
              <h1 class="text-uppercase">Values</h1>
              <p class="text-black-50">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Et praesentium eos nulla qui commodi consectetur
                beatae fugiat. Veniam iste rerum perferendis.
              </p>
            </div>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="mission">
              <h1 class="text-uppercase">Mission</h1>
              <p class="text-black-50">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Et praesentium eos nulla qui commodi consectetur
                beatae fugiat. Veniam iste rerum perferendis.
              </p>
            </div>
          </div>
          <div class="col-sm-12 col-md-4">
            <h1 class="text-uppercase">Philosophy</h1>
            <p class="text-black-50">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Et praesentium eos nulla qui commodi consectetur
              beatae fugiat. Veniam iste rerum perferendis.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="portfolio p-5">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-8 text-center">
            <h1 class="site-section-heading h1 p-3 text-capitalize">portfolio</h1>
          </div>
          <div class="col-md-8 text-center pt-5">
            <p class="lead text-black-50">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, itaque
              neque, delectus odio iure explicabo.
            </p>
          </div>
        </div>
      </div>
      <div class="work p-4">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6 col-lg-4">
              <a href="" class="media-1">
                <img src="../../assets/img/img_1.jpg" class="img-fluid">
                <div class="media-1-content">
                  <h2>Project Name 1</h2>
                  <span class="category">Logo Design</span>
                </div>
              </a>
            </div>
            <div class="col-md-6 col-lg-4">
              <a href="" class="media-1">
                <img src="../../assets/img/img_2.jpg" class="img-fluid">
                <div class="media-1-content">
                  <h2>Project Name 2</h2>
                  <span class="category">Newspaper</span>
                </div>
              </a>
            </div>
            <div class="col-md-6 col-lg-4">
              <a href="" class="media-1">
                <img src="../../assets/img/img_3.jpg" class="img-fluid">
                <div class="media-1-content">
                  <h2>Project Name 3</h2>
                  <span class="category">Shirt Apparel</span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="show-more p-3">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-8 text-center">
              <button class="btn btn-lg btn-dark">Show More Work</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="testimonials"></div>
    <div class="hire-us text-center">
      <a href="" class="d-block">
        <div class="container">
          <div class="row justify-content-center py-4">
            <div class="col-md-12">
              <h1 class="text-white text-uppercase font-weight-bold">Hire Us & Lets Get Started</h1>
            </div>
          </div>
        </div>
      </a>
    </div>
  </section>
  <footer class="w-100">
    <app-footer></app-footer>
  </footer>
</main>
