<main>
  <header></header>
  <section class="w-100">
    <div class="testimonials"></div>
    <div class="hire-us text-center">
      <a href="" class="br-primary d-block">
        <div class="container">
          <div class="row justify-content-center py-4 align-middle">
            <div class="col-md-12">
              <h1 class="font-weight-bold text-white text-uppercase">Hire Us & Lets Get Started</h1>
            </div>
          </div>
        </div>
      </a>
    </div>
  </section>
  <footer class="w-100">
    <app-footer></app-footer>
  </footer>
</main>
